@page
@model WebApp.Pages.Solicitud.EditModel
@{ }
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue?"Actualizar":"Nuevo") <!-- validacion por si es agregar o Registro -->
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdSolicitud" /> <!-- se usa hidden por si se hara un edit  -->
                <!-- Campos de texto -->

                <div class="form-group mb-3">
                    <label for="Entity.IdCliente" class="form-label">Cliente</label>
                    <select class="form-select" asp-for="Entity.IdCliente" v-model="Entity.IdCliente"
                            asp-items="@(new SelectList(Model.ClienteListar, "IdCliente", "Nombre"))" required>
                        <!-- maxlenght para obligar a un tamano -->
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.IdServicio" class="form-label">Servicio</label>
                    <select class="form-select" asp-for="Entity.IdServicio" v-model="Entity.IdServicio"
                            asp-items="@(new SelectList(Model.ServicioListar, "IdServicio", "NombreServicio"))" required>
                    </select>
                </div>


                <div class="form-group mb-3">
                    <label for="Entity.Cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" asp-for="Entity.Cantidad" v-model="Entity.Cantidad" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Monto" class="form-label">Monto</label>
                    <input type="number" class="form-control" asp-for="Entity.Monto" v-model="Entity.Monto" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaEntrega" class="form-label">Fecha de entrega</label>
                    <input type="date" class="form-control" asp-for="Entity.FechaEntrega" v-model="Entity.FechaEntrega" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.UsuarioEntrega" class="form-label">Usuario Entrega</label>
                    <input type="text" class="form-control" asp-for="Entity.UsuarioEntrega" v-model="Entity.UsuarioEntrega" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Observaciones" class="form-label">Observaciones</label>
                    <input type="text" class="form-control" asp-for="Entity.Observaciones" v-model="Entity.Observaciones" maxlength="250" required>
                </div>
                <!-- boton -->
                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
</div>

<!-- se trae el ts para que se utilice -->
@section Scripts{

    <script defer src="~/App/Solicitud/Edit.js"></script>

}
<!-- KEVIN SEGURA CALVO EXAMEN 2 UTC PROGRA 6 -->